<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.federicocalendino.alfred-lyrics-finder</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>32EC61B3-D59E-4C32-A623-4169901C73D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE0A8FF0-0D55-4036-AC0B-F9494B5FD271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D82C7A9C-2C99-48F7-AC68-281CAEB8ED68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32EC61B3-D59E-4C32-A623-4169901C73D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fede Calendino</string>
	<key>description</key>
	<string>Search for song lyrics in genius.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lyrics Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching lyrics from genius.com ...</string>
				<key>script</key>
				<string>python ./lyrics.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32EC61B3-D59E-4C32-A623-4169901C73D3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ly</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching genius.com ...</string>
				<key>script</key>
				<string>python ./main.py $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>for example: andromeda</string>
				<key>title</key>
				<string>Input text to search in genius.com</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D82C7A9C-2C99-48F7-AC68-281CAEB8ED68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CE0A8FF0-0D55-4036-AC0B-F9494B5FD271</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search for song lyrics in genius.com


Note: an access token to genius' api needs to be provided in an enviroment variable called "GENIUS_ACCESS_TOKEN".</string>
	<key>uidata</key>
	<dict>
		<key>32EC61B3-D59E-4C32-A623-4169901C73D3</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>CE0A8FF0-0D55-4036-AC0B-F9494B5FD271</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>D82C7A9C-2C99-48F7-AC68-281CAEB8ED68</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GENIUS_ACCESS_TOKEN</key>
		<string>SirRyQvKdwu1Em5jZn5t-ON88nzCCCCBdsBagfoHvy5UfFwVKWILu1UWRJk4ppnG</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GENIUS_ACCESS_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/federicocalendino/alfred-lyrics-finder</string>
</dict>
</plist>
